# Main Torch Installation (Run with --index-url https://download.pytorch.org/whl/cu121)
torch==2.4.1+cu121
torchvision==0.19.1+cu121

# PyG Specific Binaries (Install via -f https://data.pyg.org/whl/torch-2.4.1+cu121.html)
torch-scatter==2.1.2
torch-sparse==0.6.18
torch-geometric==2.6.1

# General Dependencies
matplotlib>=3.5
networkx>=2.6
scikit-learn>=1.0
pandas>=1.3
lmdb>=1.0
tqdm>=4.60
ogb>=1.3.0
seaborn>=0.11
ipykernel>=6.0